// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  specification
  name = 注文状況のstylesheet
  function = 注文状況に関係するcssを記述。
  note = none
  date = 2017/6/20
  author = Yuto Suzuki
  History = V1.00/V1.00
  input = none
  output = cssによるデザイン適用。
  end of specification
*/

#contents{
  //background-color: blue;
  height: 330px;
}

#contents span{
  text-align: center;
  padding: 5px;
  margin: 25%;
  font-size: 40px;
  background-color:#e8e8e8;
  box-shadow:2px 2px;
    border:1px solid #000;
    width:200px;
    height:50px
}

#main #order_index p{
  text-align: center;
  padding-top: 15px;
  //color: red;
  background-color: #e8e8e8;
  box-shadow:5px 5px;
    border:1px solid #000;
    width:200px;
    height:50px
}

#order_index #orders{
  float: left;
  margin-left: 5px;
}
#order_index #orders table{
background-color: white;
}

 #order_index .page_nate_area{
   //width:150px;
  margin-left: auto;
  margin-right: auto;
   clear: left;
   text-align: center;
   text-shadow: 2px 2px 0px #000;
   font-size: 25px;
 }
#order_index .form_area{
  text-align: right;
  clear: left;
  float: right;
}
#order_index .switch{
  position: absolute;
  top:400px;
  left:300px;
}
